<section class='splash-screen'>
  <h1>ezPay</h1>
  <%= button_to 'Log in', new_user_session_path, :class=>'login' %>
  <div>
    <%= link_to 'Sign Up', new_user_registration_path, :class=>'signup' %>
  </div>
</section>
